## .NET Core
*.user
*.suo
.vs/
obj/
bin/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.rsuser
*.user
*.userosscache
*.sln.docstates

## ASP.NET
wwwroot/lib/

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/
nuget.config.bak

## Environment / Secrets (KHÔNG commit thông tin nhạy cảm)
appsettings.Development.json

## OS
.DS_Store
Thumbs.db
Desktop.ini

## Logs
*.log
